---
layout: default
title: Category
---

<div class="post">
  <h2 id="catTitle">Category</h2>
  <ul class="archivelist" id="catList"></ul>
</div>

<script>
(function(){
  var params = new URLSearchParams(location.search);
  var name = params.get('c') || 'Category';
  document.getElementById('catTitle').innerText = name;

  var data = {
    {% for cat in site.categories %}
      "{{ cat[0] | escape }}": [
        {% for post in cat[1] %}
          {"title":"{{ post.title | escape }}","url":"{{ post.url | relative_url }}","date":"{{ post.date | date: "%b %e, %Y" }}"}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]{% unless forloop.last %},{% endunless %}
    {% endfor %}
  };

  var list = document.getElementById('catList');
  (data[name] || []).forEach(function(p){
    var li = document.createElement('li');
    li.innerHTML = '<span class="archivedate">'+p.date+'</span> <a href="'+p.url+'">'+p.title+'</a>';
    list.appendChild(li);
  });
})();
</script>
