<div class="radio-bar" id="mixcloud-player">
  <div class="radio-label">
    <span class="radio-led"></span>
    Indie Sleaze Radio
  </div>

  <div class="radio-embed">
    <iframe
      width="100%"
      height="60"
      src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=0&hide_artwork=1&feed=%2Fdjbasura%2Fstuck-on-repeat-an-indie-electro-blog-house-mix%2F"
      frameborder="0"
      allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;"></iframe>
  </div>

  <div class="radio-meta">
    128<br>kbps
  </div>
</div>
