
<div class="box">
  <div class="h">Galleries</div>

  <ul class="list">
    {% for post in site.posts %}
      {% if post.gallery_dir %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="box">
  <div class="h">Flyers</div>

  <ul class="list">
    {% for post in site.posts %}
      {% unless post.gallery_dir %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>

<div class="box">
  <div class="h">Links</div>
  <a href="{{ '/guestbook/' | relative_url }}">Guestbook</a><br>
  <a href="https://www.instagram.com/lookgood.party/" target="_blank" rel="noopener">Instagram</a>
</div>


<div class="box">
  <div class="h">About</div>
  <div class="small">
    Flash photos. Loud music. 2000s forever.
  </div>
</div>
