
<div class="box">
  <h3>LINKS</h3>
  <a href="https://instagram.com" target="_blank" rel="noopener">Instagram</a>
</div>

<div class="box">
  <div class="h">THE ARCHIVES</div>

  <ul class="list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="box">
  <div class="h">CATEGORIES</div>

  <ul class="list">
    {% assign sorted_cats = site.categories | sort %}
    {% for cat in sorted_cats %}
      {% assign name = cat[0] %}
      <li>
        <a href="{{ '/category.html?c=' | append: name | url_encode | relative_url }}">{{ name }}</a>
        <span class="small">({{ cat[1].size }})</span>
      </li>
    {% endfor %}
  </ul>
</div>


<div class="box">
  <div class="h">About</div>
  <div class="small">
    Flash photos. Loud music. 2000s forever.
  </div>
</div>
