<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>

<body>
  <div id="wrapper">

    <div id="header">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/img/dancefloor header 4.jpg' | relative_url }}" alt="{{ site.title }}" class="headerimg">
      </a>
    </div>

    <div id="main">
      <div id="sidebar">
        {% include sidebar.html %}
      </div>

      <div id="content">
        {{ content }}
      </div>
    </div>

    <div class="footer">
      © {{ site.time | date: "%Y" }} {{ site.title }}
      · El Cid, Los Angeles
      · <a href="{{ '/about/' | relative_url }}">About</a>
    </div>

  </div>

  <script src="{{ '/assets/js/lightbox.js' | relative_url }}"></script>

</body>
</html>
