---
layout: default
---
<div class="post">
  <h2>{{ page.title }}</h2>

  <div class="meta">
    Posted {{ page.date | date: "%b %d, %Y" }}
  </div>

  {% if page.intro %}
    <div class="intro">{{ page.intro }}</div>
  {% endif %}

  {% if page.gallery_dir %}
    {% assign thumbs_path = '/img/' | append: page.gallery_dir | append: '/thumbs/' %}
    <div class="thumbgrid">
      {% for file in site.static_files %}
        {% if file.path contains thumbs_path %}
          <a class="lb"
             href="{{ '/img/' | append: page.gallery_dir | append: '/full/' | append: file.name | relative_url }}"
             data-group="{{ page.gallery_dir }}">
            <img src="{{ file.path | relative_url }}" alt="">
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <div class="postbody">
    {{ content }}
  </div>
</div>

