---
layout: default
---
<div class="post">
  <h2>{{ page.title }}</h2>

<div class="meta">
  Posted {{ post.date | date: "%b %d, %Y" }}
</div>


  {% if page.intro %}
    <div class="intro">{{ page.intro }}</div>
  {% endif %}

  {% if page.gallery_dir and page.images %}
    <div class="thumbgrid">
      {% for fn in page.images %}
        <a class="lb"
           href="{{ '/img/' | append: page.gallery_dir | append: '/full/' | append: fn | relative_url }}"
           data-group="{{ page.gallery_dir }}">
          <img src="{{ '/img/' | append: page.gallery_dir | append: '/thumbs/' | append: fn | relative_url }}"
               alt="">
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="postbody">
    {{ content }}
  </div>
</div>
